/* All */
*{
    box-sizing: border-box;
}

body {
  margin: 0% !important;
}

nav {
  background: black;                                                                  
  margin: 0;                                                                          
  padding: 0;                                                                         
  position: absolute;                                                                 
  width: 100%;
}

.Headercontainer {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: #c95151;
  background-image: url(../Assets/Images/homePageHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.topNav {
  width: 80%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255,.6);
  padding: 0 3em;
  border-radius: 30px;
}

.NavFlex a{
  padding: 15px;
  align-content: space-around;
}

.topNav a {
    float: Center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.5;
}

.topNav a:hover {
    background-color: #dddddd00;
    color: rgb(105, 105, 105);
}

.topNav a.active {
    background-color: rgba(255, 255, 255, 0);
    color: red;
}



  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: red;
  } 
  
  .button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: purple;
  }
  
  .button2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: turquoise;
  }

.button3 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: darkred;
    float: right;
}

  .text {
    font-size: 100%;
  }

  .center {
    text-align-last: center;
  }

@font-face {
  font-family: 'Porter Sans Block';
  src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format(".woff");
}

/* Index */
.headerSection {
    display: flex;
    background-image: url(../Assets/Images/homePageHeader.png);
    background-size: cover;
    height: 700px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3em;
}

.headerSection h1 {
  color: red;
  font-family: 'Porter Sans Block';
}

.flexHeaderItem {
  flex: 50%;
}

.flexContainer1 {
    display: flex;
    flex-direction: row;
    font-size: 30 px;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple;
}

.flexItem1 {
    color: white;
    padding: 5%;
    flex: 50%;
}

.flexItem1 img {
  width: 100%;
}

.flexContainer2 {
  display: flex;
  flex-direction: row;
  font-size: 30 px;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.flexItem2 {
  color: black;
  padding: 5%;
  flex: 50%;
}

.flexItem2 img {
  width: 100%;
}

.flexContainer3 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple;    
}

.flexItem3 {
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    flex: 50%;
}

.flexItem3 img {
  width: 40%;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: purple;
  padding: 2em;
  margin: 0%;
}

.flexItemRow {
  color: white;
  padding: 5%;
  flex: 50%;
}

.flexItemRow img {
  width: 278px;
  height: 278px;
  padding: 0;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  flex-direction: row;
}

/* Flights */
.headerFlight {
  display: flex;
  background-image: url(../Assets/Images/headerbackBack.png);
  background-size: cover;
  height: 700px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3em;
}

.headerFlight h1 {
  color: white;
  font-family: 'Porter Sans Block';
  text-align: center;
}

.flexContainer4 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.flexItem4 {
  color: black;
  padding: 5%;
  flex: 50%;
}

.flexItem4 img {
  width: 100%;
}

.flexItem4 h4 {
  color: grey;
  font-size: x-large;
}

.flexContainer5 {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple; 
}

.flexItem5 {
  color: White;
  padding: 5%;
  flex: 50%;
}

.flexItem5 img {
  width: 100%;
}

.flexItem5 h4 {
  color: lightgray;
  font-size: x-large;
}

/* Contact */
.headerContact {
  display: flex;
  background-image: url(../Assets/Images/headerbackBack.png);
  background-size: cover;
  height: 700px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3em;
}

.headerContact h1 {
  color: white;
  font-family: 'Porter Sans Block';
}

.flexContainer6 {
  display: flex;
  flex-direction: row;
  font-size: 70 px;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.flexItem6 {
  color: black;
  padding: 5%;
  flex: 50%;
}

.flexContainer7 {
  display: flex;
  flex-direction: row;
  font-size: 30 px;
  text-align: left;
  justify-content: center;
  align-items: left;
  color: black;
  background-color: white;
  align-items: center;
}

.flexItem7 {
  color: white;
  padding: 5%;
  flex: 50%;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: left;
  justify-content: left;
  color: black;
  background-color: white;
  align-items: center;
}

.flexItemColumn {
  color: Black;
  padding: 5%;
  flex: 50%;
}

.flexItemColumn img {
  width: 100%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact {
  background-image: url(../Assets/Images/formBack.png);
  background-size: cover;
  background-position: right;
  padding: 2em 4em;
  margin: 50px 0;
  border-radius: 5%;
  width: 75%;
  align-items: center;
}

#contact input, #contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #ebebeb;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: red;
}

/* Footer */

.footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: white;
    justify-content: space-between;
    align-items: start;
  }

  .FooterContainer {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
    background-color: white;
    padding: 20px;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .FooterContainer div {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }
/* Unspecified */
