*{
    box-sizing: border-box;
}

header {
  background-image: url(../Assets/Images/homePageHeader.png);
  background-size: 100%;
}


.topNav {
    overflow: hidden;
    background-color: #ffffff;
}

.topNav a {
    float: Center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.5;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: rgb(255, 255, 255);
    color: red;
}

.footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: grey;
  }


  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
  }

  .text {
    font-size: 100%;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: red;
  }


.flexcontainer1 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Images/homePageHeader.png);
}

.flexItem1 {
  padding: 0px;
  flex: 50%;
}